/*===========================*/
/*======== Wrappers =========*/
/*===========================*/
#wrapper-main {
    width: 100%;
    height: 100%;
    margin: .5%;
}

/*===========================*/
/*======== Headings =========*/
/*===========================*/
