/*===========================*/
/*==== Incl Pad & Bord ======*/
/*===========================*/
*{
    box-sizing: border-box;
}


/*===========================*/
/*========= Device ==========*/
/*===========================*/
/* @media screen and (min-width: 650px) {
    body{
        
    }
} */


/*===========================*/
/*======== Wrappers =========*/
/*===========================*/
#wrapper-main {
    height: 100%;
    margin: 1%;
    overflow: auto;
}


/*===========================*/
/*======== Headings =========*/
/*===========================*/
.header {
    width: 100%;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    font-size: 24pt;
}


/*===========================*/
/*======= Left Pane =========*/
/*===========================*/
#left-pane {
    float: left;
    width: 20%;
    height: 100%;
    min-height: 100px;
    margin: 10px 0px;
}
#entryList {
    padding: 10px;
    overflow: hidden;
}
#entryList div {
    margin-top: 10px;
    padding-left: 20px;
}


/*===========================*/
/*======= Right Pane ========*/
/*===========================*/
#right-pane {
    float: right;
    width: 10%;
    height: 100%;
    min-height: 100px;
    margin: 10px 0px;
}
#right-pane div {
    padding: 10px;
}


/*===========================*/
/*========= Content =========*/
/*===========================*/
#content {
    float: left;
    width: 68%;
    margin: 10px 1%;
    height: 100%;
    min-height: 100px;
}

#main-content {
    margin: 0 10px;
    height: 100%;
}

#form {
    text-align: center;
    padding: 10px;
}

#btn-make-bracket {
    float: right;
    margin-right: 50px;
}

.bracket-col {
    float: left;
}
.bracket-col .bracket-matchup-separation {
    width: 100%;
}

.bracket-entry {
    height: 30px;
    width: 100px;
    padding: 2px 5px;
    text-align: center;
}


/*===========================*/
/*========== Text ===========*/
/*===========================*/
.verdana-gray {
    font-family: Verdana;
    color: #8d8d8d;
}


/*===========================*/
/*======= Background ========*/
/*===========================*/
.bg-light-gray {
    background-color: #e5e5e5;
}