/*===========================*/
/*==== Incl Pad & Bord ======*/
/*===========================*/
*{
    box-sizing: border-box;
}

/*===========================*/
/*====== Formtatting ========*/
/*===========================*/
.verdana-gray {
    font-family: Verdana;
    color: #8d8d8d;
}

/*===========================*/
/*======= Background ========*/
/*===========================*/
.bg-gray {
    background-color: #8d8d8d;
}
.bg-light-gray {
    background-color: #e5e5e5;
}
.bg-white {
    background-color: white;
}
.rounded {
    border-radius: 8px;
}

/*===========================*/
/*======== Wrappers =========*/
/*===========================*/
#wrapper-main {
    display: flex;
    flex-direction: column;

    height: 100%;
    
    margin: 0;
    padding: 1%;
}
#wrapper-header {
    height: 120px;
    line-height: 120px;

    font-size: 24pt;
}
#wrapper-content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
#wrapper-footer {
    display: flex;
    flex-shrink: 0;

    height: 80px;

    line-height: 80px;
    font-size: 12pt;
}


/*===========================*/
/*======== Headers ==========*/
/*===========================*/
.header {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}


/*===========================*/
/*========= Content =========*/
/*===========================*/
#content {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

/*======= Left Pane =========*/
#content-left-pane {
    width: 15%;
    padding: 10px;
}
#entryList {
    overflow-wrap: anywhere;
}
.entrylist-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-wrap: anywhere;
}
.entrylist-entryname {
    width: 100%;
    border-bottom: 2px solid #8d8d8d;
}
.entrylist-deletebtn {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

/*========== Main ===========*/
#content-main {
    width: 85%;
    margin-left: 10px;
}

/*========== Form ===========*/
#form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    padding: 10px;
}
#add-entry {
    display: flex;
    flex-direction: row;
    width: 80%;
}
#entry-name {
    font-family: Verdana;
    font-size: 10pt;
    color: #636363;
}
#add-entry-btn-wrapper {
    width: 100%;
    max-width: 200px;
    margin: 0 10px;
}
.form-btn {
    height: 100%;
    margin: 0 auto;
    
    font-family: Verdana;
    color: #8d8d8d;
    text-align: center;

    border: 2px solid #8d8d8d;
    border-radius: 8px;
}
.form-btn:hover {
    cursor: pointer;
    background-color: #636363;
}
#make-bracket-btn-wrapper {
    width: 20%;
    max-width: 200px;
}

/*======== Bracket ==========*/
.bracket-col {
    float: left;
}

.bracket-entry {
    height: 30px;
    width: 100%;
    padding: 2px 5px;
    text-align: center;
    border-bottom: 2px solid #8d8d8d;
    overflow-wrap: anywhere;
}


/*===========================*/
/*========= Footer ==========*/
/*===========================*/
#footer {
    width: 100%;
    text-align: center;

}
#footer > #git-link {
    color: inherit;
}
